<template>
  <div class="content">
    <div class="card">
      <h1>Регистрация</h1>
      <hr />

      <label for="email"><b>Почта</b></label>
      <input
        type="text"
        placeholder="Введите почту"
        name="email"
        id="email"
        required
      />

      <label for="psw"><b>Пароль</b></label>
      <input
        type="password"
        placeholder="Введите пароль"
        name="psw"
        id="psw"
        required
      />

      <label for="psw-repeat"><b>Повторите пароль</b></label>
      <input
        type="password"
        placeholder="Введите пароль"
        name="psw-repeat"
        id="psw-repeat"
        required
      />
      <hr />

      <button type="submit" class="btn">Зарегистрироваться</button>
      <div class="container signin">
        <p>У вас уже есть аккаунт? <a href="#">Войти</a>.</p>
      </div>
    </div>
  </div>
</template>

<style scoped>
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  text-align: center;
}
</style>
