<template>
  <div class="home">
    <div class="row">
      <div class="side">
        <h2>About Me</h2>
        <h5>Photo of me:</h5>
        <div class="fakeimg" style="height: 200px">Image</div>
        <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
        <h3>More Text</h3>
        <p>Lorem ipsum dolor sit ame.</p>
        <div class="fakeimg" style="height: 60px">Image</div>
        <br />
        <div class="fakeimg" style="height: 60px">Image</div>
        <br />
        <div class="fakeimg" style="height: 60px">Image</div>
      </div>

      <div class="main">
        <div v-for="n in 10" v-bind:key="n">
          <h2>{{ defaultCard.title }}</h2>
          <h5>{{ defaultCard.description }}</h5>
          <div class="fakeimg" style="height: 200px">
            {{ defaultCard.image }}
          </div>
          <p>{{ defaultCard.additionDescription }}</p>
          <p>
            {{ defaultCard.content }}
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: "Home",
  components: {},

  data() {
    return {
      defaultCard: {
        title: "TITLE HEADING",
        description: "Title description, Dec 7, 2017",
        image: "image",
        additionDescription: "SomeText",
        content:
          "Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.",
      },
      defaultLink: {
        description: "Link",
        link: "http://google.com",
      },
    };
  },
};
</script>


