<template>
  <div class="home">
    <div class="row">
      <div class="side">
        <div class="profile">
          <h1 class="profile__name">{{ student.name }}</h1>
          <p class="profile__age">Возраст: {{ student.age }}</p>
          <p class="profile__school">{{ student.school }}</p>

          <div class="profile__email">Почта: {{ student.email }}</div>
        </div>
      </div>
      <div class="main">
        <h3>Топики на которые вы подписаны:</h3>
        <div
          class="topic"
          v-for="topic in student.topics"
          :key="topic.id"
          :topic="topic"
        >
          <div id="myProgress">
            <div id="myBar" :style="{ width: topic.result + '%' }">
              {{ topic.result }}%
            </div>
          </div>
          <a href="#" class="topic__name">{{ topic.name }}</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      student: {
        name: "Лян Валерия",
        age: "22",
        school: "Сибирский государственный университет им. Решетнева",
        email: "lera-lyan@mail.ru",
        topics: [],
      },
    };
  },

  async mounted() {
    const url = "http://localhost:3001/user/1";

    try {
      const response = await fetch(url, {
        method: "GET", // или 'PUT'
        body: undefined, // данные могут быть 'строкой' или {объектом}!
        headers: {
          "Content-Type": "application/json",
        },
      });
      const json = await response.json();
      console.log("JSON", json);

      this.student.topics = json.subscriptionTopic.map((item) => {
        return {
          ...item.topic,
          result: item.result,
        };
      });

      this.$toasted.show("Все топики получены", {
        theme: "outline",
        position: "bottom-center",
        duration: 5000,
      });
    } catch (error) {
      console.error("Ошибка:", error);
      this.$toasted.show(error.message, {
        theme: "outline",
        position: "bottom-center",
        duration: 5000,
      });
    }
  },
};
</script>

<style scoped lang="scss">
.profile {
  text-align: center;
  font-family: arial;

  &__age {
    color: grey;
    font-size: 18px;
  }
  &__school {
    text-decoration: none;
    font-size: 18px;
    color: black;
  }
  &__email {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    width: 100%;
    font-size: 18px;
    margin-top: 10px;
  }
}

.topic {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  widows: 100%;
  &__name {
    text-decoration: none;
    font-size: 18px;
    color: black;
    margin-left: 40px;
    &:hover {
      opacity: 70%;
    }
  }
  &__result {
    font-size: 18px;
    display: inline;
  }
}

#myProgress {
  width: 10%;
  background-color: #ddd;
}

#myBar {
  // width: 70%;
  height: 30px;
  background-color: var(--main_color);
  text-align: center;
  line-height: 30px;
}
</style>