<template>
  <div class="home">
    <div id="myModal" :class="modalStyle">
      <!-- Modal content -->
      <div class="modal-content">
        <span v-on:click="showModal()" class="close">&times;</span>
        <div class="container">
          <div class="row">
            <div class="col-25">
              <label for="name">Название</label>
            </div>
            <div class="col-75">
              <input
                type="text"
                id="name"
                name="name"
                placeholder="Название топика"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="side">
        <h3>Тесты топика</h3>
        <div v-on:click="showModal()" type="submit" class="side__function">
          Edit question
        </div>
        <div v-on:click="addTest()" type="submit" class="side__function">
          Add test
        </div>
      </div>

      <div class="main">
        <div
          class="test__card"
          v-for="(test, index) in topic.test"
          :key="index"
        >
          <div class="test__info">
            <div>Test #{{ test.id }}</div>
            <div>
              <button class="btn">Remove Test</button>
            </div>
          </div>

          <details class="test__summary">
            <summary>questions</summary>

            <div class="question__card">
              <div class="question__list">
                <div class="question__info">
                  <div>{{ test.question }}</div>
                  <button class="btn">Remove qestion</button>
                  <button class="btn">Edit question</button>
                </div>
              </div>

              <div class="question__tools">
                <button>Added question to test</button>
              </div>
            </div>
          </details>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
export default {
  data() {
    return {
      show: false,
      topic: null,
    };
  },
  computed: {
    modalStyle() {
      return this.show ? "modal__show" : "modal__hidden";
    },
  },
  async mounted() {
    const url = `http://localhost:3001/topic/${this.$route.params.id}`;
    // const data = { username: "example" };

    try {
      const response = await fetch(url, {
        method: "GET", // или 'PUT'
        // body: JSON.stringify(data), // данные могут быть 'строкой' или {объектом}!
        headers: {
          "Content-Type": "application/json",
        },
      });
      const json = await response.json();
      this.topic = json;
      console.log("JSON", json);
      console.log("Успех:", JSON.stringify(json));
      this.$toasted.show("Теория загружена", {
        theme: "outline",
        position: "bottom-center",
        duration: 5000,
      });
    } catch (error) {
      this.$toasted.show(error.message, {
        theme: "outline",
        position: "bottom-center",
        duration: 5000,
      });
    }
  },
  methods: {
    showModal() {
      console.log("🟨🟨🟨🟨");
      this.show = !this.show;
    },
    async addTest() {
      try {
        const url = "http://localhost:3001/topic";

        const response = await fetch(url, {
          method: "POST", // или 'PUT'
          body: JSON.stringify({ topicId: this.$route.params.id }), // данные могут быть 'строкой' или {объектом}!
          headers: {
            "Content-Type": "application/json",
          },
        });
        const json = await response.json();
        this.topics.push(json);
        console.log("JSON", json);
        console.log("Успех:", JSON.stringify(json));
        this.$toasted.show("Топик добавлен", {
          theme: "outline",
          position: "bottom-center",
          duration: 5000,
        });
      } catch (error) {
        this.$toasted.show(error.message, {
          theme: "outline",
          position: "bottom-center",
          duration: 5000,
        });
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.modal {
  &__show {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }

  &__hidden {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type="submit"] {
  background-color: var(--main_color);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type="submit"]:hover {
  // background-color: var(--accent_color);
}

.container {
  border-radius: 5px;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th,
td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.buttons_td {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

///@at-root

.test {
  &__card {
    margin-bottom: 15px;
    background-color: var(--main_color);
    border-radius: 5px 5px 5px 5px;
  }

  &__summary{
    padding: 10px;
  }

  &__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    background-color: #333;
    color: white;
    align-items: center;
    border-radius: 5px;
  }
}

.question {
  &__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
</style>