<template>
  <div class="home">
    <div class="row">
      <div class="side">
        <h3>Тест</h3>
        <div class="side__function">Отправить</div>
      </div>

      <div class="main">
        {{ test }}
      </div>

      <!-- <div
        class="topic outlined"
        v-for="(q, index) in tests"
        :key="q.id"
        :index="index"
      >
        <div class="question__title">{{ q.question }}</div>

        <div class="question__answers">
          <div
            class="question"
            v-for="(ans, index) in q.answers"
            :key="index"
            :index="index"
            :ans="ans"
          >
            <div class="question__wrapper" v-if="ans != null">
              <div class="button">
                <input type="radio" id="radioButton" />
              </div>
              <div class="answer">{{ ans }}</div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</template>


<script>
export default {
  data() {
    return {
      test: null,
    };
  },
  async mounted() {
    console.log(this.$route.params);

    const url = `http://localhost:3001/test/${this.$route.params.id}`;
    // const data = { username: "example" };

    try {
      const response = await fetch(url, {
        method: "GET", // или 'PUT'
        // body: JSON.stringify(data), // данные могут быть 'строкой' или {объектом}!
        headers: {
          "Content-Type": "application/json",
        },
      });
      const json = await response.json();
      this.test = json;
      console.log("JSON", json);
      console.log("Успех:", JSON.stringify(json));
      this.$toasted.show("Тест получен", {
        theme: "outline",
        position: "bottom-center",
        duration: 5000,
      });
    } catch (error) {
      this.$toasted.show(error.message, {
        theme: "outline",
        position: "bottom-center",
        duration: 5000,
      });
    }
  },
};
</script>

<style lang="scss" scoped>
.topic {
  height: 100%;
  width: 100%;
  margin-bottom: 10px;
}

.answer {
  width: 100%;
  display: flex;
  margin-left: 55px;
}

.question {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;

  &__wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  &__answers {
    padding: 25px;
  }

  &__title {
    background-color: var(--main_color);
  }
}

.answer {
  width: 100%;
}
</style>