<template>
  <div class="home">
    <div class="row">
      <div class="side">
        <h3>Теория</h3>
        <div
          v-if="topic.test"
          v-on:click="gotToTest()"
          type="submit"
          class="side__function"
        >
          Пройти тест
        </div>
      </div>

      <div class="main">
        <h3>{{ topic.name }}</h3>
        <div class="theory__content">{{ topic.theory }}</div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      topic: null,
    };
  },
  async mounted() {
    console.log(this.$route.params);

    const url = `http://localhost:3001/topic/${this.$route.params.id}`;
    // const data = { username: "example" };

    try {
      const response = await fetch(url, {
        method: "GET", // или 'PUT'
        // body: JSON.stringify(data), // данные могут быть 'строкой' или {объектом}!
        headers: {
          "Content-Type": "application/json",
        },
      });
      const json = await response.json();
      this.topic = json;
      console.log("JSON", json);
      console.log("Успех:", JSON.stringify(json));
      this.$toasted.show("Теория загружена", {
        theme: "outline",
        position: "bottom-center",
        duration: 5000,
      });
    } catch (error) {
      this.$toasted.show(error.message, {
        theme: "outline",
        position: "bottom-center",
        duration: 5000,
      });
    }
  },
  methods: {
    gotToTest() {
      this.$router.push({
        name: "testOfTopic",
        params: { id: this.topic.test.id },
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.theory {
  &__content {
    white-space: pre-line;
    text-align: justify;
  }
}
</style>