<template>
  <!-- The Modal -->
  <div class="home">
    <div id="myModal" :class="modalStyle">
      <!-- Modal content -->
      <div class="modal-content">
        <span v-on:click="showModal()" class="close">&times;</span>
        <div class="container">
          <div class="row">
            <div class="col-25">
              <label for="name">Название</label>
            </div>
            <div class="col-75">
              <input
                v-model="tempTopic.name"
                type="text"
                id="name"
                name="name"
                placeholder="Название топика"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-25">
              <label for="plan">Описания топика</label>
            </div>
            <div class="col-75">
              <input
                v-model="tempTopic.plan"
                type="text"
                id="plan"
                name="plan"
                placeholder="Описание топика"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-25">
              <label for="theory">Теория</label>
            </div>
            <div class="col-75">
              <textarea
                v-model="tempTopic.theory"
                id="theory"
                name="theory"
                placeholder="Напишите теорию"
                style="height: 200px"
              ></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-25">
              <input type="checkbox" v-model="showTest" />
              <label for="theory">Тест</label>
            </div>
          </div>
          <div class="row" v-show="showTest">
            <div class="col-25">
              <button v-on:click="addQuestion">Добавить вопрос</button>
            </div>
          </div>
          <div class="row" v-for="i in countQuestions" :key="i">
            {{ i }} вопрос
            <input
              type="text"
              :id="'q' + i"
              :name="'ans' + i"
              placeholder="Вопрос"
            />
            <input
              class="answer"
              type="text"
              :id="'ans1' + i"
              :name="'ans1' + i"
              placeholder="Вариант ответа"
            />
            <input type="radio" :id="'ans1' + i" name="answer" value="answer" />

            <input
              class="answer"
              type="text"
              :id="'ans2' + i"
              :name="'ans2' + i"
              placeholder="Вариант ответа"
            /><input
              type="radio"
              :id="'ans2' + i"
              name="answer"
              value="answer"
            />

            <input
              class="answer"
              type="text"
              :id="'ans3' + i"
              :name="'ans3' + i"
              placeholder="Вариант ответа"
            />
            <input type="radio" :id="'ans3' + i" name="answer" value="answer" />
          </div>

          <div class="row" v-if="add">
            <input v-on:click="addTopic()" type="submit" value="Submit" />
          </div>

          <div class="row" v-else>
            <input v-on:click="updateTopic()" type="submit" value="Submit" />
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="side">
        <h3>Топики</h3>
        <div v-on:click="showModal()" class="side__function">Создать топик</div>
      </div>

      <div class="main">
        <details
          v-for="topic in topics"
          v-bind:key="topic.id"
          class="topic__details"
        >
          <summary>{{ topic.name }}</summary>

          <div class="topic__card">
            <div class="topic__info">
              <h3>План:</h3>
              {{ topic.plan }}
              <h3>Автор:</h3>
              {{ topic.author.name }}
            </div>
            <div class="topic__tools">
              <button
                class="btn"
                v-on:click="changeTopic({ topicId: topic.id })"
              >
                Изменить
              </button>
              <button
                class="btn"
                v-on:click="deleteTopic({ topicId: topic.id })"
              >
                Удалить
              </button>
              <button
                class="btn"
                v-on:click="subscribeTopic({ topicId: topic.id })"
              >
                Подписаться
              </button>

              <button class="btn" v-on:click="gotToTheory(topic.id)">
                Начать
              </button>
              <button class="btn" v-on:click="gotToTestList(topic.id)">
                Тесты
              </button>
            </div>
          </div>
        </details>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: "Home",
  components: {},

  data() {
    return {
      add: true,
      show: false,
      topics: [],
      showTest: false,
      countQuestions: 0,

      tempTopic: {
        name: null,
        plan: null,
        theory: null,
        authorId: 1,
      },
    };
  },
  async mounted() {
    const url = "http://localhost:3001/topic";
    // const data = { username: "example" };

    try {
      const response = await fetch(url, {
        method: "GET", // или 'PUT'
        body: undefined, // данные могут быть 'строкой' или {объектом}!
        headers: {
          "Content-Type": "application/json",
        },
      });
      const json = await response.json();
      this.topics = json;
      console.log("JSON", json);
      console.log("Успех:", JSON.stringify(json));
      this.$toasted.show("Все топики получены", {
        theme: "outline",
        position: "bottom-center",
        duration: 5000,
      });
    } catch (error) {
      console.error("Ошибка:", error);
      this.$toasted.show(error.message, {
        theme: "outline",
        position: "bottom-center",
        duration: 5000,
      });
    }
  },
  computed: {
    modalStyle() {
      return this.show ? "modal__show" : "modal__hidden";
    },
  },

  methods: {
    changeTopic({ topicId }) {
      let neededTopic = this.topics.find((item) => item.id === topicId);

      console.log(neededTopic);

      this.tempTopic = neededTopic;

      console.log(this.tempTopic);
      this.add = false;
      this.showModal();
    },
    async updateTopic() {
      try {
        const url = `http://localhost:3001/topic/${this.tempTopic.id}`;
        const response = await fetch(url, {
          method: "PATCH", // или 'PUT'
          body: JSON.stringify(this.tempTopic), // данные могут быть 'строкой' или {объектом}!
          headers: {
            "Content-Type": "application/json",
          },
        });
        const json = await response.json();

        // this.topics.push(json);
        console.log("JSON", json);
        console.log("Успех:", JSON.stringify(json));

        this.topics.filter((item) => item.id !== this.json.id);

        this.topics.push(json);

        this.showModal();

        this.$toasted.show("Топик обновлен", {
          theme: "outline",
          position: "bottom-center",
          duration: 5000,
        });
      } catch (error) {
        this.$toasted.show(error.message, {
          theme: "outline",
          position: "bottom-center",
          duration: 5000,
        });
      }
      this.showModal();
    },
    async addTopic() {
      try {
        const url = "http://localhost:3001/topic";

        const response = await fetch(url, {
          method: "POST", // или 'PUT'
          body: JSON.stringify(this.tempTopic), // данные могут быть 'строкой' или {объектом}!
          headers: {
            "Content-Type": "application/json",
          },
        });
        const json = await response.json();
        this.topics.push(json);
        console.log("JSON", json);
        console.log("Успех:", JSON.stringify(json));
        this.$toasted.show("Топик добавлен", {
          theme: "outline",
          position: "bottom-center",
          duration: 5000,
        });
      } catch (error) {
        this.$toasted.show(error.message, {
          theme: "outline",
          position: "bottom-center",
          duration: 5000,
        });
      }
      this.showModal();
    },

    async deleteTopic({ topicId }) {
      const url = `http://localhost:3001/topic/${topicId}`;

      try {
        const response = await fetch(url, {
          method: "DELETE", // или 'PUT'
          body: undefined, // данные могут быть 'строкой' или {объектом}!
          headers: {
            "Content-Type": "application/json",
          },
        });
        const json = await response.json();
        console.log("JSON", json);
        console.log("Успех:", JSON.stringify(json));

        console.log("⚠️⚠️⚠️", this.topics);

        this.topics = this.topics.filter((item) => item.id !== json.id);
        this.$toasted.show("Топик удален", {
          theme: "outline",
          position: "bottom-center",
          duration: 5000,
        });
      } catch (error) {
        this.$toasted.show(error.message, {
          theme: "outline",
          position: "bottom-center",
          duration: 5000,
        });
      }
    },
    addQuestion() {
      this.countQuestions += 1;
    },
    removeQuestion() {
      if (this.countQuestions != 0) this.countQuestions += 1;
    },
    showModal() {
      console.log("🟨🟨🟨🟨");
      this.show = !this.show;
    },
    gotToTheory(topicId) {
      this.$router.push({ name: "theoryOfTopic", params: { id: topicId } });
    },
    gotToTestList(topicId) {
      this.$router.push({ name: "listOfTopicTests", params: { id: topicId } });
    },
    sendCreatedTopic() {},
  },
};
</script>

<style lang="scss" scoped>
.topic {
  width: 30%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;

  &__buttons {
    display: flex;
    flex-direction: revert;
    justify-content: space-around;
    width: 100%;
  }
  &__function {
    display: flex;
    flex-wrap: wrap;
    color: white;
    text-align: center;
    align-content: center;
    border: 1px solid #333;
    background-color: #333;

    &:hover {
    }
  }

  &__details {
    padding: 10px;
    border: 1px solid rgb(118, 118, 118);
    border-radius: 5px;
    margin-bottom: 5px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  &__tools {
    display: flex;
    flex-direction: row;
    padding: 10px;
  }
}


//@at-root

/* The Modal (background) */
.modal {
  &__show {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }

  &__hidden {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type="submit"] {
  background-color: var(--main_color);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type="submit"]:hover {
  // background-color: var(--accent_color);
}

.container {
  border-radius: 5px;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th,
td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.buttons_td {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
</style>
