<template>
  <div id="app">
    <div class="header card">
      <h1>Sibit</h1>
      <p>Обучающая платформа.</p>
    </div>

    <div class="navbar card" id="nav">
      <router-link to="/">Home</router-link>
      <router-link to="/auth">Auth</router-link>
      <router-link to="/topics">Topics</router-link>
      <router-link to="/profile">Profile</router-link>
    </div>
    <router-view />
  </div>
</template>


<style lang="scss">
* {
  box-sizing: border-box;

  --main_color: #f9dc5c;
  --accent_color: #ffffff;
  --inverted_accent_color: black;
}

/* Style the body */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/* Header/logo Title */
.header {
  padding: 80px;
  text-align: center;
  background: var(--main_color);
  color: var(--inverted_accent_color);
}

/* Increase the font size of the heading */
.header h1 {
  font-size: 40px;
}

/* Style the top navigation bar */
.navbar {
  overflow: hidden;
  background-color: #333;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover {
  background-color: var(--main_color);
  color: var(--inverted_accent_color);
  border-radius: 5px;
}

/* Column container */
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 10px;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  background-color: var(--main_color);
  padding: 20px;
  border: 5px;

  &__function {
display: flex;
    flex-wrap: wrap;
    color: white;
    text-align: center;
    align-content: center;
    border: 1px solid #333;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
}

/* Main column */
.main {
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: white;
  padding: 20px;
}

/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}

.content {
  margin: auto;
  background: white;
  padding: 10px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
  overflow-x: auto;
  margin: 10px;
}

.outlined {
  text-align: center;
  font-family: arial;
  border-radius: 5px;
  overflow-x: auto;
  border: 1px solid #e0e0e0;
}

.registerbtn:hover {
  opacity: 1;
}

.btn{
    background-color: var(--main_color);
  border: none;
  color: #333;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 10px;
}
</style>
